 /******import all fonts of site from fonts folder *******/
 @font-face {
   font-family: Acme;
   src: url(../fonts/Acme-Regular.ttf);
 }

 @font-face {
   font-family: Lobster;
   src: url(../fonts/Lobster-Regular.ttf);
 }

 @font-face {
   font-family: Patua One;
   src: url(../fonts/PatuaOne-Regular.ttf);
 }

 @font-face {
   font-family: Rubik;
   src: url(../fonts/Rubik-Regular.ttf);
 }

 @font-face {
   font-family: Sniglet;
   src: url(../fonts/Sniglet-Regular.ttf);
 }

 * {
   box-sizing: border-box;
 }

 section, header {
   overflow-x: hidden;
 }

 :root {
   --light-black: #2e2c2caf;
   --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
   --light-gray: rgba(255, 255, 255, 0.877);
 }

 header a {
   font-family: "Rubik";
   font-weight: bold;
   font-size: .9em;
   color: whitesmoke;
 }

 header {
   background: #dd2476;
   background: var(--bggradient);
 }

 header .navbar-toggler-icon {
   color: whitesmoke;
 }

 header .nav-item {
   padding: .9em;
 }

 header .navbar-brand {
   padding-left: 3rem;
 }

 header .nav-link:hover, .navbar-brand:hover {
   color: #000;
 }

 header .dropdown-item:hover {
   background: #dd2476;
   color: whitesmoke;
 }

 header .row col-md-5 {
   padding: 4.2vmin 1vmin;
 }

 header .row .col-md-7 {
   padding: 22vmin 1vmin 35vmin 1vmin;
   font-family: "Rubik";
   color: whitesmoke;
 }

 header .row .col-md-5 img {
   padding-top: 7vmin;
   width: 90%
 }

 header .container .col-md-7 h6 {
   letter-spacing: .3rem;
 }

 header .container .col-md-7 h1 {
   font-size: 8.5vmin;
   font-weight: bold;
   padding: .1em 0em;
 }

 header .container .col-md-7 p {
   padding: 1vmin 5vmin;
   font-family: "Sniglet";
   font-size: .8rem;
 }

 header .container .col-md-7 button {
   border-radius: 30px;
   font-weight: bold;
     border: 0;
 }
 header .col-md-7 > button:hover {
  background:  #2a363b;
  color: whitesmoke;
 }

 /* Start Section 1 */
 .section-1 {
   padding: 18vmin 0;
 }

 .section-1 .row .col-md-6 .pray img {
   opacity: 0.8;
   width: 25rem;
   border-radius: .2em;
 }

 .section-1 .row .col-md-6:last-child {
   position: relative;
 }

 .section-1 .row .col-md-6 .panel {
   position: absolute;
   top: 13vmin;
   left: -20vmin;
   background: #fff;
   border-radius: 3px;
   text-align: left;
   padding: 8vmin 5vmin 15vmin 10vmin;
   box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
   font-family: "Sniglet";
   z-index: 1;
 }

 .section-1 .row .col-md-6 .panel h1 {
   font-weight: bold;
   padding: 0.4rem 0;
   font-size: 2rem;
 }

 .section-1 .row .col-md-6 .panel p {
   font-size: .9rem;
   color: rgba(0, 0, 0, 0.5);
 }

 /* End Section 1 */
 /* Sart Section 2 */
 .cover {
   width: 100%;
   height: 55vmin;
   background: url('../img/pexels-photo-452738.jpeg');
   background-position: -8rem -10rem;
   background-size: 120%;
   position: relative;
 }

 .cover .content {
   background: rgba(0, 0, 0, 0.8);
   width: 100%;
   height: 100%;
   padding-top: 18vmin;
   color: whitesmoke;
 }

 .cover .content>h1 {
   font-family: "Patua One";
   font-size: 6vmin;
 }

 .cover .content>p {
   font-family: "Sniglet";
   font-size: .9rem;
 }

 .numbers {
   margin-top: -15vmin;
 }

 .numbers .rect {
   position: relative;
   z-index: 1;
   background: whitesmoke;
   width: 17rem;
   height: 12rem;
   padding: 3.5rem;
   margin: 1rem;
   border-radius: .5rem;
   box-shadow: 1px 2px 50px 0px rgba(0, 0, 0, 0.3);
 }

 .numbers .rect>h1 {
   font-family: "Patua One";
   font-size: 3.5rem;
   color: #e84a5f;
 }

 .numbers .rect>p {
   font-family: "Sniglet";
   font-size: .9rem;
 }

 .purchase>h1 {
   font-family: "Patua One";
   padding-top: 15vmin;
 }

 .purchase>p {
   font-family: "Sniglet";
   font-size: .9rem;
   padding-bottom: 5vmin;
 }

 .purchase .cards .card {
   width: 22rem;
   margin: 3vmin;
 }

 .card div {
   margin: 0;
   padding: 0;
 }

 .cards {
   margin-bottom: 15vmin;
 }

 .card {
   box-shadow: 1px 2px 50px 0px rgba(0, 0, 0, 0.3);
 }

 .cards .title {
   padding: 5vmin 2vmin;
   background: #e84a5f;
   color: #fff;
 }

 .purchase .card .card-text {
   font-family: "Sniglet";
   font-size: .925rem;
   padding: 2.5rem 3rem;
   color: var(--light-black);
 }

 .pricing>h2 {
   font-family: "Patua One";
   font-weight: 600;
   padding-bottom: 1.5vmin;
 }

 .pricing>.btn {
   font-family: "Sniglet";
   background: #2a363b;
   color: #fff;
 }

 .pricing>.btn:hover {
   background: #e84a5f;
   font-weight: 500;
 }

 /* End Section 2 */
 /* Start Section 3 */
 .section-3 {
   height: 70vmin;
   background: #dd2476;
   background: var(--bggradient);
 }

 .row .col-md-12>h1 {
   font-family: "Patua One";
   margin-top: 14vmin;
   color: whitesmoke;
 }

 .row .col-md-12>p {
   font-family: "Sniglet";
   margin-top: 2vmin;
   position: relative;
   padding: 5vmin;
   color: whitesmoke;
 }

 .desktop {
   display: inline-block;
   border-radius: 50px;
   margin: 2vmin 4.5vmin;
   padding: 0 2rem;
   background: whitesmoke;
   color: #2a363b;
 }
 /* End Section 3 */
 /* Start Section 4 */
 .section-4 .text-dark {
   padding-top: 15vmin;
   font-family: "Patua One";
 }

 .section-4 .text-secondary {
   font-family: "Sniglet";
   font-size: .9rem;
 }

 .section-4 .team {
   padding: 10vmin 4vmin;
 }

 .section-4 .card {
   width: 22rem;
 }

 .section-4 .card .card-img-top>img {
   margin: 1.2rem 0;
   width: 13rem;
   height: 13rem;
   border-radius: 100%;
 }

 .section-4 .card .card-text {
   font-family: "Sniglet";
   font-size: .9rem;
   padding: .5rem 2rem;
   color: var(--light-black);
 }

 /* End Section 4 */
 /* Start Footer */
 footer{
   background: #2a363b;
   overflow-x: hidden;
   padding: 12vmin 16vmin;
 }
 footer  .text-light {
   font-family: "Patua One";

 }
  footer  p {
    font-family: "Sniglet";
    font-size: .9rem;
  }
 footer  p > span {
   color: #ff847c;
 }
 footer  p > span:hover {
   color: whitesmoke;
 }
 /* This code remove border of Email box  */
 footer input {
   border: 0!important;
 }
 footer input::placeholder {
   color: #fff!important;
 }
 footer .input-group .input-group-text {
   background: var(--bggradient);
   border: 0;
 }
 footer .input-group .input-group-text:hover {
   background: var(--light-black);
   color: whitesmoke;
 }
 .column > i {
   color: #e84a5f;
 }
 .column .fab:hover {
   color: whitesmoke;
 }
  /* End Footer */
